<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="assets/style.css" rel="stylesheet" type="text/css"  />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="signup">

    <form class="form-horizontal" action='/login' method="post">
        <fieldset>
          <h2>Sign Up here!</h2>
          <strong class="msg"><%= msg %></strong>
          <div class="control-group">
            <!-- Username -->

            <label class="control-label"  for="username">Username</label>

              <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
              <p class="help-block">Username can contain any letters or numbers, without spaces</p>

          </div>

          <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">E-mail</label>

              <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
              <p class="help-block">Please provide your E-mail</p>

          </div>

          <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Password</label>

              <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
              <p class="help-block">Password should be at least 4 characters</p>

          </div>

          <div class="control-group">
            <!-- Password -->
            <label class="control-label"  for="password_confirm">Confirm-Password </label>

              <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
              <p class="help-block">Please confirm password</p>

          </div>

          <div class="control-group">
            <!-- Button -->

              <button class="btn btn-success">Sign Up</button>

          </div>
        </fieldset>
      </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
